.Card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
}

.Card h2{
    font-size: 2rem;
}

.CardGuessContainer{
    margin-top: 4rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.CardGuessRow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.CardIncorrect{
    height:2rem;
    color: red;
    display: flex;
    padding: 2rem 0;
}
